/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rts -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test

        // Input data
    input  = 'https://github.com/Waseju/rts-pipeline/blob/d7a3a2d363190e3d490db0472ff6b97ca82bb7fd/testdata/testdata.tar.gz?raw=true'

}
