/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rts -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile with remote dataset'
    config_profile_description = 'Larger test dataset using a remote source (https://zenodo.org/record/5949352)'

    // Input data
    input  = 'https://zenodo.org/record/5949352/files/testdata_large.tar.gz?download=1'
}
