/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rts -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Local test profile'
    config_profile_description = 'Test with local dataset to check pipeline function'

    // Input data
    input  = 'assets/testdata.tar.gz'

}
