/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rts -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Local test profile for OME-TIFF data'
    config_profile_description = 'Test with local dataset for image files in OME-TIFF format'

    // Limit resources
    //max_cpus   = 2
    //max_memory = '6.GB'
    //max_time   = 6.h

    // Input data
    input  = './assets/testdata_ome.tar.gz'

}
